.receitas {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 2rem;
  flex-wrap: wrap;
}

.card{
  background-color: #f5f5dc;
  text-align: center;
  border-radius: 10px;
  width: 260px;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top{
  width: 258px;
  border-radius: 10px 10px 0 0;
}

.card-title{
  padding: 20px 0;
}

ul{
  text-align: justify;
}

.card-text{
  padding: 20px 10px;
}